{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/style/user/style.css">
</head>

<body>


  <nav class="navbar">
    <div class="nav-wrapper">
      <img src="{% static 'img/instalogo.png' %}" class="brand-img" alt="">
      <input type="text" class="search-box" placeholder="search">
      <div class="nav-items">
        <img src="{% static 'img/home.png' %}" class="icon" alt="">

        <img src="{% static 'img/messanger.jpeg' %}" class="icon" alt="">

        <a href="posts">
          <img src="{% static 'img/plus.jpeg' %}" class="icon" alt="">
        </a>
        <img src="{% static 'img/liked.png' %} " class="icon" alt="">
        <img src="{% static 'img/default.jpg' %}" class="icon" alt="">
        <a href="/">Log out</a>
        <div class="icon user-profile"></div>
      </div>
    </div>
  </nav>

  <section class="main">
    <div class="wrapper">
      <div class="left-col">
        <div class="status-wrapper">
          {% for person in top5person %}
          <div class="status-card">
            <div class="profile-pic"><img src="{% static 'img/avatar.jpg'%}" alt=""></div>
            <p class="username">{{person.user}}</p>
          </div>
          {% endfor %}


        </div>
      </div>

  </section>
  </div>
  </div>
  </section>
  <section class="main">
    <div class="wrapper">
      <div class="left-col">
        {% for person in top5person %}
        <div class="post">
          <div class="info">
            <div class="user">
              <div class="profile-pic"><img src="{% static 'img/avatar.jpg' %}" alt=""></div>
              <p class="username">{{person.user}}</p>
            </div>
            <img src="img/option.PNG" class="options" alt="">
          </div>

          <img src="{{person.img.url}}" class="post-image" alt="">
          <div class="post-content">
            <div class="reaction-wrapper">
              <img src="{% static 'img/liked.png'%}" class="icon" alt="">
              <img src="{% static 'img/comment.png'%}" class="icon" alt="">
              <img src="{% static 'img/messanger.jpeg'%}" class="icon" alt="">
              <img src="{% static 'img/save.jpg' %}" class="save icon" alt="">
            </div>
            <p class="likes">0 likes</p>
            <p class="description"><span>{{person.user}} <p>{{person.text}}</p>
                <!-- <p class="post-time">2 minutes ago</p> -->
          </div>
          <div class="comment-wrapper">
            <img src="img/smile.PNG" class="icon" alt="">
            <input type="text" class="comment-box" placeholder="Add a comment">
            <button class="comment-btn">post</button>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  {{request.user.username}}
</body>

</html>