{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/user/profile.css' %}">
    <link rel="stylesheet" href="/static/style/user/style.css">
    <title>Instagram</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="{% static 'img/instalogo.png' %}" class="brand-img" alt="">
            <input type="text" class="search-box" placeholder="search">
            <div class="nav-items">
                <a href="\login">
                    <img src="{% static 'img/home.png' %}" class="icon" alt="">
                </a>


                <img src="{% static 'img/messanger.jpeg' %}" class="icon" alt="">

                <a href="posts">
                    <img src="{% static 'img/plus.jpeg' %}" class="icon" alt="">
                </a>
                <img src="{% static 'img/liked.png' %} " class="icon" alt="">
                <a href="profile">
                    <img src="{% static 'img/default.jpg' %}" class="icon" alt="">
                </a>

                <a href="/">Log out</a>
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>
    <header>

        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="{% static 'img/avatar.jpg' %}" alt="">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{user.username}}</h1>

                    <button class="btn profile-edit-btn">Edit Profile</button>

                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                            aria-hidden="true"></i></button>

                </div>

                <div class="profile-stats">

                    <li><span class="profile-stat-count">{{post_count}}</span> posts</li>
                    <li><span class="profile-stat-count">0</span> followers</li>
                    <li><span class="profile-stat-count">0</span> following</li>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name">{{user.bio}}</span></p>

                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>

    <main>
        {% for post in user_post %}
        <div class="container">

            <div class="gallery">

                <div class="gallery-item" tabindex="0">

                    <img src="{{ post.img.url }}" class="gallery-image" alt="">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="fas fa-heart" aria-hidden="true"></i> 56</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                    class="fas fa-comment" aria-hidden="true"></i> 2</li>
                        </ul>

                    </div>

                </div>



            </div>
            <!-- End of gallery -->



        </div>
        {% endfor %}
        <!-- End of container -->

    </main>
</body>

</html>