{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/user/profile.css' %}">
    <link rel="stylesheet" href="/static/style/user/style.css">
    <title>Instagram</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="{% static 'img/instalogo.png' %}" class="brand-img" alt="">
            <input type="text" class="search-box" placeholder="search">
            <div class="nav-items">
                <a href="\login">
                    <img src="{% static 'img/home.png' %}" class="icon" alt="">
                </a>


                <img src="{% static 'img/messanger.jpeg' %}" class="icon" alt="">

                <a href="posts">
                    <img src="{% static 'img/plus.jpeg' %}" class="icon" alt="">
                </a>
                <img src="{% static 'img/liked.png' %} " class="icon" alt="">
                <a href="profile">
                    <img src="{% static 'img/default.jpg' %}" class="icon" alt="">
                </a>

                <a href="/">Log out</a>
                <div class="icon user-profile"></div>
            </div>
        </div>
    </nav>
    <header>

        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="{% static 'img/avatar.jpg' %}" alt="">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{otherUser.username}}</h1>
                    <form action="unfollow/{{otherUser.id}}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn profile-edit-btn">unfollow</button>
                    </form>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                            aria-hidden="true"></i></button>

                </div>

                <div class="profile-stats">

                    <li><span class="profile-stat-count">{{postCount}}</span> posts</li>
                    <li><span class="profile-stat-count">{{followers_count}}</span> followers</li>
                    <li><span class="profile-stat-count">{{follow_count}}</span> following</li>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name">{{otherUser.bio}}</span></p>

                </div>

            </div>

        </div>


    </header>



    {% for userPost in allPost %}
    <div class="container">
        <div class="gallery">

            <div class="">
                <img src="{{userPost.img.url}}" class="gallery-image" alt="none" />

            </div>
        </div>
    </div>
    {% endfor %}



</body>

</html>